<footer class="bg-black text-gray-100">
  <div class="p-8 container max-w-screen-lg mx-auto text-center font-serif ">
    <p class="py-2">
      <span class="font-semibold">Email:</span>
      <a href="mailto:tmjbgc@protonmail.ch" class="hover:text-red-400 "
        >tmjbgc@protonmail.ch</a
      >
    </p>
    <p class="py-2">
      <span class="font-semibold">Twitter:</span>
      <a href="https://https://twitter.com/tmjbgc" class="hover:text-red-400 "
        >@TMJBGC</a
      >
    </p>
  </div>
</footer>
