<footer class="bg-black text-gray-100">
  <div class="p-8 container max-w-screen-lg markdown">
    <div class="max-w-screen-md">
      <small>
        This is some footer stuff
      </small>
    </div>
  </div>
</footer>
