<footer class="bg-black text-gray-100">
  <div class="p-8 container max-w-screen-lg mx-auto text-center font-serif markdown">
    <div class="py-2 text-xs">
      <div>TMJBGC is an unaffiliated, independent, <a href="https://truckeemeadowsjbgc.org/posts/an-independent-JBGC/" class="hover:text-red-400">JBGC</a>.</div>
      <div>Website made with love and solidarity by <a href="https://laura-is-here.github.io/" target="_blank" rel="noopener noreferer">Laura Gabrielle</a>.</div>
    </div>
  </div>
</footer>