<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@tmjbgc">
  <meta name="twitter:creator" content="@tmjbgc">
  <meta name="twitter:image" content="https://tmjbgc.org/static/img/logo.png">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script
    async
    src="https://identity.netlify.com/v1/netlify-identity-widget.js"
  ></script>
  <link
    href="/_includes/assets/css/style.css"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Merriweather|Ubuntu&display=swap"
    rel="stylesheet"
  />

  {% set js %} {% include "assets/js/inline.js" %} {% endset %}
  <script>
    {
      {
        js | jsmin | safe;
      }
    }
  </script>
</head>
