<!DOCTYPE html>
<html
  class="text-lg font-serif text-gray-800 bg-gray-100 leading-relaxed antialiased"
  {%
  if
  section
  %}
  data-current="{{ section }}"
  {%
  endif
  %}
  lang="en"
>
  {% include "components/head.njk" %}

  <body>
    <header
      class="bg-black text-gray-200 p-8 flex flex-col justify-between items-start "
    >
      <img
        src="/static/img/logo.png"
        alt="A logo depicting John Brown with a red and black anarchist background and the text 'Truckee Meadows John Brown Gun Club'"
        class="h-24 md:h-40 my-4 ml-auto mr-4"
      />
      <div class="mb-12 container max-w-screen-lg mx-auto">
        <p
          class="text-2xl md:text-4xl leading-none border-b-4 border-gray-200 py-4"
        >
          <a
            class="font-bold hover:text-red-400  font-semibold"
            href="{{ '/' | url }}"
            >{{ metadata.title }}</a
          >
        </p>
        {% include "components/nav.njk" %}
      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}
    <script src="/_includes/assets/js/script.js"></script>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
  </body>
</html>
