---
layout: layouts/base.njk
section: home
templateEngineOverride: njk,md
---

<div class="container max-w-screen-lg mx-auto mb-6">
  <div class="bg-gray-200 -mt-8 p-8 container max-w-screen-md markdown">
    {{ content | safe }}
  </div>
</div>
{% for item in collections.homePageBanners %}
<div
  class="flex flex-row md:flex-row{% if item.data.imagePlacement === 'right' %}-reverse{% endif %} flex-wrap justify-start"
>
  <img
    data-src="{{ item.data.image }}"
    alt=""
    class="w-full md:w-1/2 object-cover lazy-load animateWhenVisible"
  />
  <div
    class="flex flex-col justify-center bg-black text-gray-100 p-8 w-full md:w-1/2 markdown animateWhenVisible"
  >
    <h2>{{ item.data.title }}</h2>
    {{ item.templateContent | safe }}
  </div>
</div>
{% endfor %}
<div class="bg-red-500 text-gray-100 p-8 w-full text-2xl leading-tight">
  <h2 class="text-2xl font-semibold mb-4">{{ callToAction.header }}</h2>
  {{ callToAction.content | safe }}
  <a
    href="/contact/"
    class="block my-4 w-48 p-2 border-4 border-gray-100 text-center text-2xl font-semibold hover:bg-black hover:border-black "
    >Contact Us</a
  >
</div>
